<div class="parent">
    <div class="child">
      <div class="menu">
        <ul type="none">
            <li><div class="profileImage">
                <img src="http://placeimg.com/640/480/transport" alt="Profile">
            </div></li> 
            <li class="userdetails">Bharath Reddy</li>
            <li class="userdetails">ardhabharath@gmail.com</li>
            <hr>
            <li class="menuitems"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;DASHBOARD</li>
            <li class="menuitems"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;ACCOUNT PROFILE</li>
            <li class="menuitems"><span class="glyphicon glyphicon-sunglasses"></span>&nbsp;&nbsp;EXERCISE PLANS</li>
            <li class="menuitems"><span class="glyphicon glyphicon-cutlery"></span>&nbsp;&nbsp;DIET PLANS</li>
            <li class="menuitems"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;SUBSCRIPTION</li>
            <li class="menuitems"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;EXTRA SERVICES</li>
            <hr>
        
            <li><div class="btn"><button type="submit" class="btn btn-primary btn-block">LOGOUT</button> </div></li>
        </ul>
        </div>
      <div class="content">
        <div class="contentTop">
            <h4>Presonal Progress</h4>
            <button type="button" class="btn btn-primary">CONTACT SUPPORT</button>
        </div>
        <div class="contentMiddle">
            <div class="middle"></div>
            <div class="middle"></div>
            <div class="middle"></div>
        </div>
        <div class="contentBottom">
            <div class="Bottom1"></div>
            <div class="Bottom2"></div>
        </div>
      </div>
    </div>
</div>