tr:hover{
    box-shadow: 0 0 0.2em grey;
}
.rowHeader{
    position: sticky;
    top: 15%;
    background-color: rgb(236, 234, 234);
}
.fuelColumn{
    background-color: red;
}
.greenColumn{
    background-color: green;
}
.yellowColumn{
    background-color: yellow;
}