<div class="parent">
    <table class="table table-striped">
    <thead>
        <tr class="rowHeader">
            <th>VEHICLE</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th class="fuelColumn">Fuel</th>
            <th>Color</th>
            <th>Image</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles" class="abc">
            <!-- <td>{{vehicle|json}}</td> -->
            <!-- <ng-container  *ngIf="(vehicle.manufacturer == 'Honda' || vehicle.manufacturer == 'Ford') && (vehicle.fuel == 'Hybrid')"> -->
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model|uppercase}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td><img src="{{vehicle.image}}" alt="Vehicle Image" width="50em" height="50em"></td>
            <td>{{vehicle.id}}</td>
             <!-- </ng-container> -->
        </tr>
    </tbody>
    </table>
</div>