    <p>Hi</p>
    <h1>{{title}}</h1>
    <h1>{{name}}</h1>
    <h1>{{age}}</h1>
    <h1>{{isIndian}}</h1>
    <ul>
        <li *ngFor="let name of names">{{name}}</li>
    </ul>
    <ul>
        <li *ngFor="let name of menu">{{name}}</li>
    </ul>
    <div class="a" *ngFor="let product of products">
        <div class="b"><p>Product name:{{product.name}}</p>
        <p>Product name:{{product.price}}</p></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>names</th>
                <th>age</th>
                <th>phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.names}}</td>
                <td>{{user.age}}</td>
                <td>{{user.phone}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Vehicle</th>
                <th>manufacturer</th>
                <th>model</th>
                <th>type</th>
                <th>fuel</th>
                <th>color</th>
                <th>image</th>
                <th>id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let xyz1 of xyz">
                <td>{{xyz1?.Vehicle}}</td>
                <td>{{xyz1?.manufacturer}}</td>
                <td>{{xyz1?.model}}</td>
                <td>{{xyz1?.type}}</td>
                <td>{{xyz1?.fuel}}</td>
                <td>{{xyz1?.color}}</td>
                <td><img src="{{xyz1?.image}}" alt="image" width="100em" height="100em"></td>
                <td>{{xyz1?.id}}</td>
            </tr>
        </tbody>
    </table>