body,html
{
    margin: 0%;
}
p{
    display: flex;
    justify-content: center;
    
}
h1{
    display: flex;
    justify-content: center;
    
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
}
tr,td,th{
    padding: 0.5rem;
}
