<div class="row">
    <form action="" [formGroup]="employeeForm" class="form">
      <div class="form-group">
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name" name="Name">
      </div>
      <div class="form-group">
        <input  formControlName="mobile" maxlength="10" type="text" class="form-control" id="mobile" placeholder="Mobile" name="mobile">
      </div>
      <div class="form-group">
        
        <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        
        <input formControlName="dob" type="text" class="form-control" id="DOB" placeholder="DOB" name="DOB">
      </div>
      <div class="form-group">
        
        <input  formControlName="role" type="text" class="form-control" id="role" placeholder="Role" name="role">
      </div>
      <div class="form-group">
        
        <input  formControlName="id" type="text" class="form-control" id="id" placeholder="ID" name="id">
      </div>
      <div class="button-center">
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </form>
  </div>